@font-face {
  font-family:Gentium;
  src:url('http://gezeiten.org/public/GenBasR.ttf');
}

body {
  margin:0em;
  padding:0em;
  font-family:Gentium;
  font-size:11pt;
  line-height:1.5em;
}

#timeline-cv thead {
  font-size:1.25em;
}

#timeline-cv thead td {
  padding:0.5em;
}

#timeline-cv thead td:nth-last-child(2n) {
  text-align:center;
  background-color:#fafafa;
  width:12em;
}

#timeline-cv thead td:nth-last-child(2n+1) {
  text-align:center;
  background-color:#f5f5f5;
  width:12em;
}

#timeline-cv thead th:nth-child(1) {
  width:6em;
}

#timeline-cv thead td:nth-child(2) {
  border-right:6px solid #369bd8;
  background-color:white;
  width:3em;
}

#timeline-cv tbody tr {
  height:3em;
  overflow:hidden;
}

#timeline-cv tbody tr.year th,
#timeline-cv tbody tr.year td {
}

#timeline-cv tbody th {
  font-size:2em;
  vertical-align:top;
  text-align:center;
  padding:0.125em 10px 0.125em 10px;
}

#timeline-cv tbody th p {
  margin:0.25em 0em 0.25em 0em;
}

#timeline-cv tbody td {
  vertical-align:top;
  height:3em;
  padding:0em 0.5em 0.5em 0.5em;
}

#timeline-cv tbody td.month {
  border-right:6px solid #369bd8;
  padding-top:0.5em;
}

#timeline-cv tbody td.has-items {
  position:absolute;
  width:15em;
}

#timeline-cv tbody tr.empty th {
  opacity:0.2;
}

#timeline-cv tbody td div {
  -webkit-transition:0.3s;
  -moz-transition:0.3s;
  -o-transition:0.3s;
  transition:0.3s;
  height:2.5em;
  overflow:hidden;
  position:relative;
}

#timeline-cv tbody td div p:first-child {
}

#timeline-cv tbody td div p em {
  font-family:Gentium;
  font-size:1.1em;
}

#timeline-cv tbody td div p {
  font-size:1em;
  margin:0em;
  padding:0.5em;
}

#timeline-cv tbody td div:hover {
  height:16em;
  position:relative;
  top:0;
  left:0;
  z-index:1000;
}

#timeline-cv tbody td div:hover p:last-child {
  height:7em;
}

#timeline-cv tbody td div:nth-child(n+1) {
  margin-top:0.5em;
}

#timeline-cv a, #timeline-cv a:link {
  color:black;
}

